<nz-card>
<div class="row">
  <div class="col-md-4 col-lg-4">
    <input nz-input placeholder="Document ID" [(ngModel)]="value" />
  </div>
  <div class="col-md-5 col-lg-5">
    <nz-select nzMode="tags" nzPlaceHolder="Documents Tag" [(ngModel)]="listOfTagOptions" class="w-95">
      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
  </div>
  <div class="col-md-3 col-lg-3">
    <button nz-button nzType="primary" (click)="navigateToSearchResultPage()">
      <i nz-icon nzType="search"></i>
      Search
    </button>
  </div>
</div>
</nz-card>
